<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div ng-show="main.showJumbotron" class="jumbotron text-center">
    <h1>Marketing Site</h1>
    <h8 class="link" ng-click="main.hideJumbotron()">Hide this</h8>
    <p class="lead">
      <img src="assets/images/marketplace_main.png" alt="I'm Yeoman"><br>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat
      <acme-malarkey extra-values="['Ponewood', 'Brions', 'Ambat']"></acme-malarkey>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="course in main.courses">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{ course.name }}</h3>
          <p>Created At: {{ course.created_at }}</p>
          <p>Instructor: {{ course.users[0].name }}</p>
          <p class="prod-desc">Enrolled Students: {{ course.users.length - 1 }}</p>
          <a class="link" ng-click="main.openCourse(course.id)">Visit Course</a>
        </div>
      </div>
    </div>
  </div>

</div>
